{% load static %}
    <!-- Header -->
    <!-- Carousel Start -->
    <div class="carousel">
        <div class="container-fluid">
            <div class="owl-carousel">
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="{% static 'img/carousel-1.jpg' %}" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h1>Bienvenid@ <span>Cobij@lover</span></h1>
                        <p>
                            Nuestro propósito es velar por los animalitos que están pasando dificultades, encontrarles un cálido hogar, el cual ellos invadirán con todo el amor posible.
                        </p>
                        <div class="carousel-btn">
                            <a class="btn custom-btn js-scroll-trigger" href="#section_about">Saber más</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="{% static 'img/carousel-2.jpg' %}" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h1>Bienvenid@ <span>Cobij@lover</span></h1>
                        <p>
                            Nuestro propósito es velar por los animalitos que están pasando dificultades, encontrarles un cálido hogar, el cual ellos invadirán con todo el amor posible.
                        </p>
                        <div class="carousel-btn">
                            <a class="btn custom-btn js-scroll-trigger" href="#section_about">Saber más</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="{% static 'img/carousel-3.jpg' %}" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h1>Bienvenid@ <span>Cobij@lover</span></h1>
                        <p>
                            Nuestro propósito es velar por los animalitos que están pasando dificultades, encontrarles un cálido hogar, el cual ellos invadirán con todo el amor posible.
                        </p>
                        <div class="carousel-btn">
                            <a class="btn custom-btn js-scroll-trigger" href="#section_about">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>