{% load static %}
    <!-- Bootstrap core JavaScript -->
    <!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>-->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>

    <!-- Javascript Libraries -->
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Customizer -->
    <script src="{% static 'js/customizer.js' %}"></script>

    <!-- Isotope -->
    <!--<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>-->
    <script src="{% static 'js/isotope.pkgd.js' %}"></script>