{% load static %}
    <div id="mainNav" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand page-scroll" href="{% url 'core_app:url_home' %}">Cobija de <span>Amor</span></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link js-scroll-trigger active" href="#page-top" >Home</a>
                    <a class="nav-item nav-link js-scroll-trigger" href="#section_about">Sobre nosotros</a>
                    <a class="nav-item nav-link js-scroll-trigger" href="#section_pets">Cobijitas</a>
                    <a class="nav-item nav-link js-scroll-trigger" href="#section_members">Miembros</a>
                    <a class="nav-item nav-link js-scroll-trigger" href="#section_partners">Cobijalovers</a>
                    <!--
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Pages</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="blog.html">Blog Grid</a>
                            <a class="dropdown-item" href="single.html">Blog Detail</a>
                        </div>
                    </div>
                    -->
                    <a class="nav-item nav-link js-scroll-trigger" href="#section_contact">Contacto</a>
                </div>
            </div>
        </div>
    </div>