{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{ block.super }}{% endblock %}

<!-- About -->
{% block content_about %}
    <section id="section_about">
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="about-img">
                            <img src="{% static 'img/about.jpg' %}" alt="Image">
                            <button type="button" class="btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/zkPouG2fxBo" data-target="#videoModal">
                                <span></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="about-content">
                            <div class="section-header">
                                <h2>Cobija de Amor</h2>
                                <p>Asociación sin fines de lucro</p>
                            </div>
                            <div class="about-text">
                                <p>
                                    {{ context_about.description|safe }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>        
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content_about %}

<!-- Pets -->
{% block content_pets %}
    <section id="section_pets">
        <div class="blog">
            <div class="container">
                <div class="section-header text-center">
                    <h2>Cobijitas</h2>
                    <p>Galería de los animalitos esperando un hogar y los que ya lo encontraron</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="{% static 'img/to_adopt2.jpg' %}" alt="Blog">
                            </div>
                            <div class="blog-content">
                                <h2 class="blog-title">Cobijitas buscando un hogar</h2>
                                <div class="blog-text">
                                    <p>
                                        Vea la galería de los animalitos que están esperando ser adoptados, todos están bien cuidadados, aseados y sanitos, gracias a las personas que nos apoyan.
                                    </p>
                                    <a class="btn custom-btn" href="#">Ver Galería</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="{% static 'img/adopted.jpg' %}" alt="Blog">
                            </div>
                            <div class="blog-content">
                                <h2 class="blog-title">Cobijitas adoptadas</h2>
                                <div class="blog-text">
                                    <p>
                                        Vea la galería de las cobijitas que encontraron un cálido hogar, ellos están muy felices, agradeciendo día a día con mucho amor.
                                    </p>
                                    <a class="btn custom-btn" href="#">Ver Galería</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content_pets %}

<!-- Members -->
{% block content_members %}
    <section id="section_members">
        <div class="team">
            <div class="container">
                <div class="section-header text-center">
                    <h2>Nosotros</h2>
                    <p>Sepa un poco más de nosotros</p>
                </div>
                <div class="row">
                    {% for _, members in context_members.items %}
                        {% for _, member in members.items %}
                            {% if forloop.first %}
                                {% if members|length == 1 %}
                                <div class="col-lg-4_5 col-md-6"></div>
                                {% elif members|length == 2 %}
                                <div class="col-lg-3 col-md-6"></div>
                                {% elif members|length == 3 %}
                                <div class="col-lg-1_5 col-md-6"></div>
                                {% else %}
                                {% endif %}
                            {% endif %}
                            <div class="col-lg-3 col-md-6">
                                <div class="team-item">
                                    <div class="team-img">
                                        <img src="{{ member.image.url }}" alt="Image">
                                        <div class="team-social">
                                            <a href=""><i class="fab fa-facebook-f"></i></a>
                                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                                            <a href=""><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                    <div class="team-text">
                                        <h2>{{ member }}</h2>
                                        <p>{{ member.role }}</p>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.last %}
                                {% if members|length == 1 %}
                                <div class="col-lg-4_5 col-md-6"></div>
                                {% elif members|length == 2 %}
                                <div class="col-lg-3 col-md-6"></div>
                                {% elif members|length == 3 %}
                                <div class="col-lg-1_5 col-md-6"></div>
                                {% else %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content_members %}

<!-- Partners -->
{% block content_partners %}
    <section id="section_partners">
        <div class="food">
            <div class="container">
                <div class="section-header text-center">
                    <h2>Cobijalovers</h2>
                    <p>Todas las personas que nos ayudaron en esta causa</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="food-item">
                            <div class="partner-img">
                                <img src="{% static 'img/adoptante.jpg' %}" alt="Image">
                            </div>
                            <h2>Adoptantes</h2>
                            <p>
                                Todas las personas que le dieron un hogar a las cobijitas que cuidamos, siempre les estaremos muy agradecidos.
                            </p>
                            <a href="#">Ver Galería</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-item">
                            <div class="partner-img">
                                <img src="{% static 'img/donante.jpg' %}" alt="Image">
                            </div>
                            <h2>Donantes</h2>
                            <p>
                                Todas las personas que donaron dinero o alimentos y bienes para las cobijitas que cuidamos, siempre les estaremos muy agradecidos.
                            </p>
                            <a href="#">Ver Galería</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-item">
                            <div class="partner-img">
                                <img src="{% static 'img/voluntario.png' %}" alt="Image">
                            </div>
                            <h2>Voluntarios</h2>
                            <p>
                                Todas las personas que nos regalaron su tiempo en las diferentes campañas que realizamos, siempre les estaremos muy agradecidos.
                            </p>
                            <a href="#">Ver Galería</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content_partners %}

<!-- Links -->
{% block content_links %}
    <!--
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><hr></div>
                <div class="col-md-2 pb-4 text-center">
                    <a href="{{ link.link }}" target="_blank" rel="noopener noreferrer">
                        <img class="img-link" src="{{ link.logo.url }}" alt="{{ link.name }}">
                    </a>
                </div>
            </div>
        </div>
    </section>
    -->
{% endblock content_links %}

<!-- Contact -->
{% block content_contact %}
    <section id="section_contact">
        <div class="footer-contacts">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-contact">
                                    <h2>Datos y redes sociales</h2>
                                    <p><i class="fa fa-map-marker-alt"></i>Av. SN, Lima, Perú</p>
                                    <p><i class="fa fa-phone-alt"></i>+51 9500-47149</p>
                                    <p><i class="fa fa-envelope"></i>cobijadeamor@gmail.com</p>
                                    <div class="footer-social">
                                        <a href="https://www.facebook.com/ref.can" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                                        <a href="https://www.youtube.com/channel/UCZ5mJ6RwfAK0lueWNa1fZxg" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
                                        <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer-link">
                                    <h2>Links de interés</h2>
                                    <a href="" target="_blank" rel="noopener noreferrer">Adopte</a>
                                    <a href="" target="_blank" rel="noopener noreferrer">Ayuda</a>
                                    <a href="" target="_blank" rel="noopener noreferrer">Preguntas Frecuentes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="footer-newsletter">
                            <h2>Escríbanos</h2>
                            <p>
                                Siéntase con toda la libertar de contartarse con nosotros, para saber más sobre alguna mascotita, o si tiene quejas y/o sugerencias.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content_contact %}
